.title{
    color:rgb(136, 89, 169);
    text-shadow: 3px 3px rgb(211, 205, 249);
    font-size:85px;
}
.contexttitle{
    color:darkslateblue;
    font-size:40px;
    font-weight:bold;
    text-decoration: underline;
}
.outer{
    
    height:200px;
    overflow:hidden;
    background-color:aquamarine;
    visibility: hidden;
}
.image{
    background-image: url(C:\Users\user\Pictures\KakaoTalk_20230330_145955245.jpg);
    background-size:cover;
    position:relative;
    height:50px;
    top:100px;
    left:100px;

}
.myname{
    font-size:150%;
    font-weight: bold;
    
    color :lightseagreen;
    text-shadow: 2px 2px rgb(223, 239, 245);
}
ul > li{
    list-style:circle;
}
.boxforcontext{
    display:inline-block;
    position: relative;
    width:80%;
    height:80%;
    background-color: rgb(192, 199, 207);
    border:dashed skyblue;
    margin:50px;
    padding: 20px;
    
   

}